@charset "utf-8";
html {
    font-size: 100px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: .14rem;
    font-famliy: "微软雅黑";
    box-sizing: border-box;
}

body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

button,
textarea,
select,
input {
    appearance: none;
}

a {
    top-highlight-color: rgba(0, 0, 0, 0)
}

html,
body {
    width: 100%;
    height: 100%;
}

@mixin num($w, $h) {
    width: $w;
    height: $h;
}

$bg:background;
@font-face {
    font-family: "iconfont";
    src: url('../fonts1/iconfont.eot?t=1476059862');
    /* IE9*/
    src: url('../fonts1/iconfont.eot?t=1476059862#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts1/iconfont.woff?t=1476059862') format('woff'), /* chrome, firefox */
    url('../fonts1/iconfont.ttf?t=1476059862') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts1/iconfont.svg?t=1476059862#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.wrap {
    @include num(100%,
    100%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    @include num(100%,
    .35rem);
    display: flex;
    justify-content: space-between;
    padding: 0 .15rem;
    span {
        font-weight: 800;
        &:nth-of-type(1) {
            color: #E1090A;
        }
    }
}

section {
    flex: 1;
}

.section-banner {
    @include num(100%,
    2rem);
    img {
        @include num(100%,
        2rem);
    }
}

.section-title {
    font-weight: 800;
    margin-left: .15rem;
    font-size: .2rem;
    margin-top: .2rem;
}

.section-container {
    dl {
        display: flex;
        justify-content: space-between;
        padding: .1rem .15rem;
        dt {
            img {
                @include num(1rem,
                auto);
            }
        }
        dd {
            p {
                &:nth-of-type(1) {
                    font-size: .18rem;
                }
                &:nth-of-type(2) {
                    span {
                        margin-left: .1rem;
                    }
                }
            }
        }
    }
}

.footer {
    @include num(100%,
    .3rem);
}